<head>
<title>Cars</title>
</head>

<body>
	<div id="myDIV"></div>
	
	<!-- beginning of the script, JavaScript -->
	<script>
	/*defining car class with constructor*/
		class car {
			constructor(name, ps, baujahr) {
			this.name = name;
			this.ps = ps;
			this.baujahr = baujahr;
			}
		}

		/*initializing instances for cars*/
		mercedes = new car("SLK", "184", "2020");
		vw = new car("Golf", "245", "2019");
		audi = new car("i8", "231", "2018");
		porsche = new car("911S", "165", "1977");
		
		/*adding cars to an array*/
		var cars = [mercedes, vw, audi, porsche];
		
		/*iterate through the array and create p-elements in myDIV*/
		for (var i = 0; i < cars.length; i++) {
			var para = document.createElement("P");
			var t = document.createTextNode(cars[i].name + " " + cars[i].ps + " " + cars[i].baujahr);
			para.appendChild(t);
			document.getElementById("myDIV").appendChild(para); 
		}
	</script>
</body>